@import "../../styles/variables";

.newsHeader {
  background-color: $blue300;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  max-height: 100px;
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .newsHeader {
    height: 60px;
  }
}
