@import "../../styles/variables";

.numberCard {
  background-color: $blue300;
  border-radius: 10px;
  width: 46%;
  max-height: 150px;
  padding: 10px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  &:nth-child(-n + 2) {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .numberCard {
    width: 25%;
    &:nth-child(n + 2) {
      margin-left: 20px;
      margin-bottom: 0;
    }
  }
}
