$blue50: rgb(0, 0, 70);
$blue100: rgb(4, 4, 59);
$blue200: rgb(24, 24, 94);
$blue300: rgb(60, 60, 161);
$blue600: rgb(152, 152, 236);
$darkGreen: rgb(71, 185, 109);
$darkRed: #430000;

// :export {
//   blue300: $blue300;
// }
