@import "../../styles/variables";

.header {
  background-color: $blue300;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  grid-column: span 2;

  &__text {
    color: $blue100;
    margin: 5px;
    text-align: center;
  }
}

@media (min-width: 800px) {
  .header {
    grid-column: span 4;
    height: 50px;
    &__text {
      text-align: left;
    }
  }
}
