@import "../../styles/variables";

.header {
  background-color: $blue300;
  border-radius: 10px;
  padding: 10px 20px;
  width: 100%;
  max-height: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-column: span 2;
  justify-content: space-between;

  &__text {
    color: $blue100;
    text-align: center;
    margin: 0 0 10px;
  }
}

div.Dropdown-control {
  background-color: $blue200;
  border-radius: 10px;
  border: 2px solid $blue200;
  color: white;
  cursor: pointer;
  min-width: 150px;
}

div.Dropdown-menu {
  background-color: $blue600;
  border: none;
  border-radius: 10px;
}

@media (min-width: 700px) {
  .header {
    grid-column: span 4;
    height: 60px;
    flex-direction: row;
    &__text {
      margin-bottom: 0;
    }
  }
}
