@import "../../styles/variables";

.dashboard {
  background-color: $blue300;
  border-radius: 10px;
  max-height: 380px;
  width: 100%;
  grid-column: span 2;
  position: relative;
  overflow: hidden;

  &::after {
    display: block;
    content: url("../../assets/svgs/corona.svg");
    top: -60px;
    right: -30px;
    position: absolute;
  }

  &__totalNumber {
    margin-left: 20px;
    z-index: 200;
  }
}

@media (max-width: 580px) {
  .dashboard__totalNumber {
    width: 200px;
  }
}

@media (min-width: 700px) {
  .dashboard {
    grid-column: span 3;
    max-height: 350px;
  }
}
