@import "../../styles/variables";

.dashboard {
  background-color: $blue300;
  border-radius: 10px;
  max-height: 380px;
  width: 100%;
  grid-column: span 2;

  &__totalNumber {
    margin-left: 20px;
  }
}

@media (min-width: 800px) {
  .dashboard {
    grid-column: span 3;
    max-height: 350px;
  }
}
