@import "../../styles/variables";

.newsCard {
  background-color: $blue50;
  border: 10px;
  min-width: 100px;
  margin: 20px;
  color: $blue600;

  &__image {
    max-width: 100%;
    max-height: 40%;
    object-fit: contain;
  }

  &__info {
    padding: 20px;

    &__headline {
      margin: 0;
    }
  }
}
