@import "./styles/_variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.dashboardWrapper {
  width: 100%;
  background-color: $blue100;
}

.stats {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 20px;
}

.news {
  background-color: $blue200;
  width: 100%;
  min-height: 50px;
  padding: 20px;
}

@media (min-width: 600px) {
  .App {
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .App {
    flex-direction: row;
  }

  .dashboardWrapper {
    overflow-y: scroll;
    height: 100vh;
  }

  .stats {
    width: 100%;
    grid-auto-rows: 60px 350px 100px;
    grid-template-columns: repeat(4, 1fr);

    &__firstWrapper {
      width: 100%;
      grid-column: 1fr 1fr 1fr 1fr;
    }

    &__secondWrapper {
      width: 100%;
      grid-column: 1fr 1fr 1fr 1fr;
    }
  }

  .news {
    width: 40%;
    height: 100vh;
    overflow-y: scroll;
  }
}
